<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>addInfoPage</title>
<script src="/js/jquery.min.js"></script>
<style>
	[type=text] {
		width:850px;
	}
	
	[type=button] {
		width:150px;
	}
</style>
</head>
<body>
	<div id='addAndSearch'>
		<form action="search/addInfo" method="post">
			<textarea rows="30" cols="130" autofocus id="info"></textarea>
			<br/><input type="text" name="search" id="cond" width='200px' value="剃须刀 油 火锅底料 鱼佐料 蒸肉粉 牛奶 牛肉 电蚊香 纸 雨伞 米"/>
			<br/>
			<div>
				<input type="button" id="submit" value="增加并查询"/> 
				<input type="button" id="showSearch" value="查询界面"/>
			</div>
		</form>
	</div>
	<div id='search' hidden='true'>
		<input type="text" name="search" id="cond2" width='200px' placeholder="查询条件"/>
		<br/>
		<div>
			<input type="button" id="submit2" value="查询"/> 
			<input type="button" id="showAddAndSearch" value="增加并查询界面"/>
		</div>
	</div>
	<div id="search_result"></div>
<script>
	$(function(){
		
	});
	
	$("#submit").click(function(){
		handleSubmit('addAndSearch');
	});
	
	$("#showSearch").click(function(){
		switch2Page('search');
	});
	
	$("#submit2").click(function(){
		handleSubmit('search');
	});
	
	$("#showAddAndSearch").click(function(){
		switch2Page('addAndSearch');
	});
	
	function handleSubmit(type){
		let urlSuffix, args;
		if(type=='search'){
			urlSuffix="/search";
			args={'cond':$("#cond2").val()};
		}else if(type=='addAndSearch'){
			urlSuffix="/search/addAndSearch";
			let cond = $("#cond").val();
			$("#cond2").val(cond);
			args={'info':$("#info").val(), 'cond':cond};
		}else{
			alert('Type Error');
			return;
		}
		//清空之前的数据
		$("#search_result").html("");
		//ajax查询
		$.ajax({
			url: window.location.origin+urlSuffix,
			async:true,
			//dataType:"json",//返回数据类型
			type:"POST",
			username:"a",//basic验证
			password:"b",
			data: args,
			success:function(info){
				let html = info2Html(info);
				//console.log(html);
				switch2Page('search');
				$("#search_result").html(html);
			},
			error:function(xhr,msg,excp){
				console.log(xhr,msg,excp);
				alert("Error!");
			}
		});		
	}
	function info2Html(info){
		let objs = JSON.parse(info);
		let content = objs.map(function(val, index, arr){
			return `<tr>
						<td>${val.date}</td>
						<td>${val.info}</td>
					</tr>`;
		}).join();
		return `<table border="1">${content}</table>`;
	}
	
	function switch2Page(type){
		if(type == 'addAndSearch'){//显示查询
			$('#search').hide();
			$('#addAndSearch').show();
		}else if(type == 'search'){//显示增加并查询
			$('#addAndSearch').hide();
			$('#search').show();
		}
		
	}
</script>
</body>
</html>